<div id="transaction-section" class="span9">
  <h3>Transaction Details for <%= @selected_account.name %></h3>

  <div class="row-fluid transaction-header">
    <div class="span2"><b>Name</b></div>
    <div class="span1"><b>Amount</b></div>
    <div class="span2"><b>Posted Date</b></div>
  </div>

  <%- @transactions.each do |transaction| -%>
  <div class="row-fluid transaction-row">
    <div class="span2"><%= transaction.nickname %></div>
    <div class="span1"><%= number_to_currency(transaction.balance) %></div>
    <div class="span2"><%= l(transaction.posted_at, format: :date_only) %></div>
  </div>
  <%- end -%>

  <div class="row-fluid pagination">
    <ul>
      <li class="<%= 'disabled' if @page == 1 %>">
        <%= link_to 'Previous', dashboard_path('account_id' => @selected_account.id, 'page' => (@page - 1)), remote: true %>
      </li>

      <%- (1..@transactions.total_pages).each do |i| -%>
      <li class="<%= 'active' if @page == i %>">
        <%= link_to i, dashboard_path('account_id' => @selected_account.id, 'page' => i), remote: true %>
      </li>
      <%- end -%>

      <li class="<%= 'disabled' if @page == @transactions.total_pages %>">
        <%= link_to 'Next', dashboard_path('account_id' => @selected_account.id, 'page' => (@page + 1)), remote: true %>
      </li>
    </ul>
  </div>
</div>