<!DOCTYPE html>
<html>
<head>
  <title>Geezeo Dashboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  <div class="container-fluid">
    <%- if signed_in? -%>
    <div class="row-fluid sign-out-bar">
      <div class="span1 offset11"><%= link_to 'Log Out', sign_out_path, class: 'btn btn-danger' %></div>
    </div>
    <%- end -%>
    <div class="row-fluid">
      <div class="span4 offset4">
        <%- flash.each do |type, message| -%>
        <div class="alert"><%= message %></div>
        <%- end -%>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
